# Git
.git/
.gitignore

# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages

# IDE
.idea/
.vscode/
*.iml

# SO
.DS_Store
Thumbs.db

# Testes (não necessários para build web em produção)
test/

# Outros
README.md
Dockerfile
.dockerignore
